

.list-books-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* Set a minimum height for scrolling */
}

.list-books-container h1 {
    display: flex;
    margin: 2px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    
}


.book-list-title {
    justify-content: space-around;
    align-items: center;
    display: flex;
  
  }
  
  .book-list-title h1 {
    color: rgb(87, 194, 110);
    font-family: cursive;
    padding-top: 10px;
    margin-left: 2pc;
  
  }
