

.list-books-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* Set a minimum height for scrolling */
}

.list-books-container h1 {
    display: flex;
    margin: 2px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    
}

