/* Home.css */

.home-container {
  padding: 20px;
  background: linear-gradient(rgb(66, 64, 64), rgb(146, 144, 144));
  min-height: 100vh;
  overflow-y: auto; /* Set a minimum height equal to the viewport height */
}

.custom-home-container {
  text-align: center;
  margin-bottom: 20px;
}

.most-viewd-book-container {
  text-align: left;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.actual-content {
  max-width: 800px;
  margin: 0 auto;
  align-items: left;
  min-height: calc(100vh - 100px); /* Adjust the value based on your design */
  overflow-y: auto; /* Add this to enable vertical scrolling */
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 5%;

}

article {
  flex: 1;
  margin-left: 20px;
}
.most-read-books{
  display: flex;
}

/* Add additional styles as needed */
