

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
  
  }
  
  h1 {
    margin: 0;
  }
  
  .featured-books {
    margin-top: 20px;
  }
  
  .explore-section {
    margin-top: 20px;
    text-align: center;
  }
  .main-image{
    
    align-items: center;
    height: '300px';
    opacity: 0.8;
   
  }
  
  button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better readability */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 1em; /* Adjust font size */
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  