.genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 20px;  
  }
  
  .genres {
    display: flex;
  }
  
  .genre {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
  }
  